@import '../../global.scss';
.portfolioList{
    margin-right: 10px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    @include mobile{
      margin:10px;
    }
   
    &.active{
      background: navy;
      color: aliceblue;
      border-radius: 10px;
    }
  }